$accent: rgb(26, 55, 120);

button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 15px 25px;
  min-width: 230px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: lighten($accent, 15%);
    &::after {
      opacity: 0.22;
    }
  }
  &:active {
    background-color: darken($accent, 5%);
    &::after {
      opacity: 0.32;
    }
  }
}
